extends ../layout
block script 
  script(src="/javascript/script.js" defer) 

block content

  h1.py-4= pageName

  .col-md-8
    .card.w-100.p-5.bg-light
      .card-body
        section 
          form(action="/tweet/new/traitement", method="post") 
            .form-group 
              label.d-flex.pb-2(for="form-label") Votre message ci-dessous
                span.ms-auto(id="counter") 0/256
              
              textarea(
                id="tweetContent"
                name="tweetContent" 
                class="form-control"
                rows="5"
              )

              div.valid-feedback Tout semble OK!
              div.invalid-feedback Entre 20 et 256 caractères SVP.

            button.btn.btn-outline-primary.d-block.mt-3.ms-auto(type='submit' id="btnSubmit" disabled) Envoyer votre message
          
          if errors
            .alert.alert-danger.alert-dismissible.fade.show.mt-3= errors
              button(type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close")
